//@import '../css/reset.css';

body {
    background-color: aquamarine;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
   }
   p {
    margin: 0;
   }

  header {
    .site-title {
        text-align: center;
        margin: 0 auto;
    }
  }

  .time {
    margin-left: 25px;
  }

  footer {
    .site-info {
        display: none;
    }
  }